[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "redsun"
dynamic = ["version"]
description = "Event-driven data acquisition software for scientific applications."
readme = "README.md"
authors = [{ name = "Jacopo Abramo", email = "jacopo.abramo@gmail.com" }]
maintainers = [{ name = "Jacopo Abramo", email = "jacopo.abramo@gmail.com" }]
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
license = { text = "Apache-2.0" }
dependencies = [
    "sunflare",
    "importlib_metadata; python_version < '3.10'",
]
requires-python = ">=3.9"

[project.optional-dependencies]
pyqt = ["sunflare[pyqt"]
pyside = ["sunflare[pyside]"]
docs = [
    "sphinx",
    "pydata-sphinx-theme",
    "myst-parser"
]
dev = [
  "ruff",
  "pytest-cov",
  "pytest",
  "mypy"
]


[project.urls]
bugs = "https://github.com/redsun-acquisition/redsun/issues"
changelog = "https://github.com/redsun-acquisition/redsun/blob/master/changelog.md"
homepage = "https://github.com/redsun-acquisition/redsun"

[project.scripts]
redsun = "redsun.__main__:main_cli"

[tool.hatch.version]
source = "vcs"

[tool.hatch.build.targets.wheel]
packages = ["src/redsun"]

# mypy
# ----

[tool.mypy]
files = "."
exclude = ["docs", "tests", "noxfile.py"]
disable_error_code = ["import-untyped"]

# Use strict defaults
strict = true
warn_unreachable = true
warn_no_return = true

[[tool.mypy.overrides]]
# Don't require test functions to include types
module = "tests.*"
disable_error_code = "attr-defined"

# ruff
# ----

[tool.ruff]
target-version = "py39"
extend-exclude = ["docs", "tests", "noxfile.py"]

[tool.ruff.format]
docstring-code-format = true

[tool.ruff.lint]
extend-select = ["D"]
ignore = ["D100","D104"] # https://docs.astral.sh/ruff/rules/undocumented-public-package/

[tool.ruff.lint.pydocstyle]
convention = "numpy"

# https://coverage.readthedocs.io/en/latest/config.html
[tool.coverage.report]
exclude_lines = [
    "@abstractmethod",
    "if TYPE_CHECKING:",
    "@overload",
    "class .*Protocol",
    "except ImportError",
    "except PackageNotFoundError",
    "raise NotImplementedError()",
]
