name: Check code formatting and type hints

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      event_name:
        required: true
        type: string

jobs:
  ruff:
    name: ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
        with:
          version: 0.12.2
          args: "check --fix"
          src: "src/redsun"

  mypy-pyqt:
    strategy:
        matrix:
            python-version: ["3.13"]
            frontend: ["pyside", "pyqt"]
            os: [ubuntu-latest]

    name: mypy with Qt
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "${{ matrix.python-version }}"
      - name: Install dependencies
        run: |
          python -m pip install -U pip mypy
          python -m pip install -e .[${{ matrix.frontend }}]
      - name: Run mypy
        run: |
          mypy src/redsun --ignore-missing-imports $(qtpy mypy-args)
