name: Run tests

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      event_name:
        required: true
        type: string
    secrets:
      codecov_token:
        required: false

env:
  PROJECT_NAME: redsun

jobs:
  test:
    name: ${{ matrix.os }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"

      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
            if [ "$RUNNER_OS" == "Linux" ]; then
            sudo apt install -y xvfb libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 \
                libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xfixes0
            fi
            uv sync --group dev
        shell: bash
      
      # if we're running on linux make sure to
      # create a virtual display otherwise it goes crazy
      - name: Run tests with coverage
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
            xvfb-run --server-args "-screen 0 1920x1080x24" uv run coverage run -p -m pytest --color=yes --log-cli-level=DEBUG
          else
            uv run coverage run -p -m pytest --color=yes --log-cli-level=DEBUG
          fi
        shell: bash

      - name: Generate UUID
        shell: bash
        run: |
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            echo "UUID=$(powershell -Command '[guid]::NewGuid().ToString()')" >> $GITHUB_ENV
          else
            echo "UUID=$(uuidgen)" >> $GITHUB_ENV
          fi

      - name: Upload coverage data
        uses: actions/upload-artifact@v4
        with:
          name: covreport-${{ matrix.os }}-py${{ matrix.python-version }}-${{ env.UUID }}
          path: ./.coverage*
          include-hidden-files: true

  upload_coverage:
    name: Upload coverage
    if: always()
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Download coverage data
        uses: actions/download-artifact@v4
        with:
          pattern: covreport-*
          path: covreports
          merge-multiple: true

      - name: Combine coverage data
        run: |
          REPO_NAME="${GITHUB_REPOSITORY##*/}"
          echo "[paths]" > ci_coveragerc
          echo "source =" >> ci_coveragerc
          if [[ -d "src" ]]; then
            echo "    ${GITHUB_WORKSPACE}/src" >> ci_coveragerc
            echo "    D:\\a\\$REPO_NAME\\$REPO_NAME\\src" >> ci_coveragerc
            echo "    /home/runner/work/$REPO_NAME/$REPO_NAME/src" >> ci_coveragerc
            echo "    /Users/runner/work/$REPO_NAME/$REPO_NAME/src" >> ci_coveragerc
          else
            echo "    ${GITHUB_WORKSPACE}" >> ci_coveragerc
            echo "    D:\\a\\$REPO_NAME\\$REPO_NAME" >> ci_coveragerc
            echo "    /home/runner/work/$REPO_NAME/$REPO_NAME" >> ci_coveragerc
            echo "    /Users/runner/work/$REPO_NAME/$REPO_NAME" >> ci_coveragerc
          fi
          echo "    */site-packages/" >> ci_coveragerc
          cat ci_coveragerc
          uv run coverage combine --rcfile=ci_coveragerc covreports
          uv run coverage xml -o coverage.xml
          uv run coverage report
          uv run coverage report --format=markdown >> $GITHUB_STEP_SUMMARY

      - name: Upload to codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          verbose: true
          token: ${{ secrets.codecov_token }}
